# Analiza danych hydrologicznych - stacja Kraków-Czernichów, 2016-2018

## Zaimportowane moduły i pliki

In [1]:
import time
import zipfile
from glob import glob
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_dir = 'dane.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_hydrologiczne/dobowe'
zip_files = glob(f'{data_dir}/*/*.zip')

## Ekstrakcja z archiwów .zip
Ten skrypt ma za zadanie wypakowanie zawartości pliku .zip (plik .csv) do tej samej ścieżki, a następnie stworzenie listy otrzymanych plików .csv.

In [3]:
def unpack(files: list) -> list:
    for file in files:
        with zipfile.ZipFile(file) as zip_file:
            zip_file.extractall(file[:77])

    #csv files - new list
    csv_files = glob(f'{data_dir}/*/*.csv')

    return sorted(csv_files)

## Analiza danych

In [4]:
start_time = time.time()
codz_names = (
    'Kod stacji',
    'Nazwa stacji',
    'Nazwa rzeki/jeziora',
    'Rok hydrologiczny',
    'Wskaźnik miesiąca w roku hydrologicznym',
    'Dzień',
    'Stan wody [cm]',
    'Przepływ [m^3/s]',
    'Temperatura wody [st. C]',
    'Miesiąc kalendarzowy'
)

zjaw_names = (
    'Kod stacji',
    'Nazwa stacji',
    'Nazwa rzeki/jeziora',
    'Rok hydrologiczny',
    'Wskaźnik miesiąca w roku hydrologicznym',
    'Dzień',
    'Grubość lodu [cm]',
    'Kod zjawiska lodowego',
    'Procent udziału zjawiska lodowego / 10',
    'Kod zarastania'
)
DF = pd.DataFrame()
dates = []
stations = []
for file in unpack(zip_files):
    if 'codz_' in file:
        df = pd.read_csv(
            file,
            encoding='windows-1250',
            names=codz_names
        )

        DF = pd.concat([DF, df], ignore_index=True)

        for row in df['Nazwa stacji']:
            if row not in stations:
                stations.append(row)

DF = {i: (DF[DF['Nazwa stacji'] == i]) for i in stations}

print(f'execution time: {time.time() - start_time} s')

execution time: 52.39454102516174 s

In [6]:
krk_bielany = DF['KRAKÓW-BIELANY']
krk_bielany

# for idx, row in enumerate(krk_bielany['Rok hydrologiczny']):
#     date = f"{row}.{krk_bielany['Wskaźnik miesiąca w roku hydrologicznym'][idx]:02d}.{krk_bielany['Dzień'][idx]:02d}"
#     dates.append(date)
# krk_bielany.insert(value=dates, column='Data', loc=3)
#
# krk_bielany = krk_bielany.drop(
#     axis=1,
#     labels=[
#         'Rok hydrologiczny',
#         'Wskaźnik miesiąca w roku hydrologicznym',
#         'Dzień',
#         'Miesiąc kalendarzowy'
#     ]
# )

,Kod stacji,Nazwa stacji,Nazwa rzeki/jeziora,Rok hydrologiczny,Wskaźnik miesiąca w roku hydrologicznym,Dzień,Stan wody [cm],Przepływ [m^3/s],Temperatura wody [st. C],Miesiąc kalendarzowy
10496,150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,1,148,99999.999,99.9,11
10497,150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,2,147,99999.999,99.9,11
10498,150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,3,145,99999.999,99.9,11
10499,150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,4,134,99999.999,99.9,11
10500,150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,5,126,99999.999,99.9,11
...,...,...,...,...,...,...,...,...,...,...
887916,150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,27,149,99999.999,99.9,10
887917,150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,28,157,99999.999,99.9,10
887918,150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,29,165,99999.999,99.9,10
887919,150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,30,150,99999.999,99.9,10
887920,150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,31,145,99999.999,99.9,10

In [ ]:
fig1 = plt.figure(figsize=(10, 6), dpi=100, facecolor='#ffffff')
plt.plot(
    KRK_BIELANY['Data'],
    KRK_BIELANY['Stan wody [cm]'],
)
plt.title('Poziom wody w Wiśle w latach 2016-2018 (stacja Kraków-Bielany)', fontdict={'fontsize': 18})
plt.ylabel('Poziom wody [cm]', fontdict={'fontsize': 14}, labelpad=30)
plt.xlabel('Data', fontdict={'fontsize': 14}, labelpad=30)
plt.xticks(KRK_BIELANY['Data'][::90], rotation=90)
plt.savefig('output/fig1.png', bbox_inches='tight')
plt.show()
plt.close(fig1)

In [ ]:
fig1 = plt.figure(figsize=(10, 6), dpi=100, facecolor='#ffffff')
plt.plot(
    KRK_BIELANY['Data'],
    KRK_BIELANY['Stan wody [cm]'],
)
plt.title('Poziom wody w Wiśle w latach 2016-2018 (stacja Kraków-Bielany)', fontdict={'fontsize': 18})
plt.ylabel('Poziom wody [cm]', fontdict={'fontsize': 14}, labelpad=30)
plt.xlabel('Data', fontdict={'fontsize': 14}, labelpad=30)
plt.xticks(KRK_BIELANY['Data'][::90], rotation=90)
plt.savefig('output/fig1.png', bbox_inches='tight')
plt.show()
plt.close(fig1)

In [ ]:
fig1 = plt.figure(figsize=(10, 6), dpi=100, facecolor='#ffffff')
plt.plot(
    KRK_BIELANY['Data'],
    KRK_BIELANY['Stan wody [cm]'],
)
plt.title('Poziom wody w Wiśle w latach 2016-2018 (stacja Kraków-Bielany)', fontdict={'fontsize':18})
plt.ylabel('Poziom wody [cm]', fontdict={'fontsize':14}, labelpad=30)
plt.xlabel('Data', fontdict={'fontsize':14}, labelpad=30)
plt.xticks(KRK_BIELANY['Data'][::90], rotation=90)
plt.savefig('output/fig1.png', bbox_inches='tight')
plt.show()
plt.close(fig1)