# Analiza danych hydrologicznych - stacja Kraków-Czernichów, 2016-2018

## Zaimportowane moduły i pliki

In [1]:
import time
import zipfile
from glob import glob
import pandas as pd

In [2]:
data_dir = 'dane.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_hydrologiczne/dobowe'
zip_files = glob(f'{data_dir}/*/*.zip')

## Ekstrakcja z archiwów .zip
Ten skrypt ma za zadanie wypakowanie zawartości pliku .zip (plik .csv) do tej samej ścieżki, a następnie stworzenie listy otrzymanych plików .csv.

In [3]:
def unpack(files: list) -> list:
    for file in files:
        with zipfile.ZipFile(file) as zip_file:
            zip_file.extractall(file[:77])

    #csv files - new list
    csv_files = glob(f'{data_dir}/*/*.csv')

    return sorted(csv_files)

## Analiza danych

In [17]:
start_time = time.time()
codz_names = (
                'Kod stacji',
                'Nazwa stacji',
                'Nazwa rzeki/jeziora',
                'Rok hydrologiczny',
                'Wskaźnik miesiąca w roku hydrologicznym',
                'Dzień',
                'Stan wody [cm]',
                'Przepływ [m^3/s]',
                'Temperatura wody [st. C]',
                'Miesiąc kalendarzowy'
)

zjaw_names = (
            'Kod stacji',
            'Nazwa stacji',
            'Nazwa rzeki/jeziora',
            'Rok hydrologiczny',
            'Wskaźnik miesiąca w roku hydrologicznym',
            'Dzień',
            'Grubość lodu [cm]',
            'Kod zjawiska lodowego',
            'Procent udziału zjawiska lodowego / 10',
            'Kod zarastania'
)
KRK_BIELANY = pd.DataFrame()
for file in unpack(zip_files):
    if 'codz_' in file:
        df = pd.read_csv(
            file,
            encoding='windows-1250',
            index_col='Kod stacji',
            names=codz_names
        )
        krk_bielany = df[df['Nazwa stacji'] == 'KRAKÓW-BIELANY']
        KRK_BIELANY = pd.concat([KRK_BIELANY, krk_bielany])
print(f'execution time: {time.time() - start_time} s')
KRK_BIELANY

# value 9999 in df['Stan wody'] = NaN
# value 99.9 in df['Temperatura wody [st. C]'] = NaN
# value 99999.999 in df['Przepływ [m^3/s]'] = NaN

    # elif 'zjaw_' in file:
    #     continue
    #     df = pd.read_csv(
    #         file,
    #         encoding='windows-1250',
    #         index_col='Kod stacji',
    #         names=zjaw_names
    #     )

execution time: 2.1136205196380615 s

,Nazwa stacji,Nazwa rzeki/jeziora,Rok hydrologiczny,Wskaźnik miesiąca w roku hydrologicznym,Dzień,Stan wody [cm],Przepływ [m^3/s],Temperatura wody [st. C],Miesiąc kalendarzowy
Kod stacji,,,,,,,,,
150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,1,148,99999.999,99.9,11
150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,2,147,99999.999,99.9,11
150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,3,145,99999.999,99.9,11
150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,4,134,99999.999,99.9,11
150190340,KRAKÓW-BIELANY,Wisła (2),2016,1,5,126,99999.999,99.9,11
...,...,...,...,...,...,...,...,...,...
150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,27,149,99999.999,99.9,10
150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,28,157,99999.999,99.9,10
150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,29,165,99999.999,99.9,10
150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,30,150,99999.999,99.9,10
150190340,KRAKÓW-BIELANY,Wisła (2),2018,12,31,145,99999.999,99.9,10